<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwConfigExceptions="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="RequestLog" fileName="${currentdir}/Logs/nlog-RequestLog-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|message: ${message}|method: ${aspnet-request-method}|url: ${aspnet-request-url}" />
			
		<target xsi:type="File" name="ErrorLog" fileName="${currentdir}/Logs/nlog-ErrorLog-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|message: ${message}|exception: ${exception:format=tostring}|method: ${aspnet-request-method}|url: ${aspnet-request-url}" />
		
		<target xsi:type="Console" name="ConsoleLog" layout="${MicrosoftConsoleLayout}" />
	</targets>
	
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="CarCatalog.Api.Middlewares.*" minlevel="Info" writeTo="RequestLog" />
		<logger name="CarCatalog.Api.Filters.*" minlevel="Info" writeTo="RequestLog" />
		
		<logger name="*" minlevel="Info" writeTo="ConsoleLog" final="true" />

		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
	</rules>
</nlog>
